---
interface Props {
  title: string;
  description: string;
  href: string;
  tags: string[];
}

const { href, title, description, tags } = Astro.props;
---

<div class="overflow-hidden" data-tags={JSON.stringify(tags)}>
  <div class="p-4">
    <a
      href={href}
      target="_blank"
      class="hover:underline text-blue-400 text-xl"
    >
      {title}
    </a>
    <p class="text-sm text-gray-600">
      {description}
    </p>
    <p class="text-sm text-gray-400 mt-2">
      {tags.join(", ")}
    </p>
  </div>
</div>
<style></style>
